<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
              layout:decorate="admin/admin-layout">
<head>
<meta charset="UTF-8">
<title>Update Category</title>

</head>
<body>
	<div layout:fragment="content">
	
		<form id="updateCategoryForm">
		<h3>Cập nhật danh mục</h3>
			<input name="categoryId" type ="hidden" th:value="${category.categoryId}" />
			
			<div class="form-group">
				<label>Tên danh mục</label> 
				<input name="name" class="form-control name" th:value="${category.name}"	placeholder="Tên danh mục" />
			</div>

			<div class="form-group">
				<label>Mô tả</label>
				<input  name="description" th:value="${category.description}" class="form-control description" placeholder="Mô tả" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary " type="submit">Cập nhật
				</button>
			</div>
		</form>

		<script>
			const updateForm = document.querySelector("#updateCategoryForm");
			updateForm.addEventListener('submit',(e) =>{
				e.preventDefault();
				const updateFormValue = formToObject("#updateCategoryForm");

				const {categoryId} = updateFormValue;
				put('/admin/api/v1/categories/' + categoryId,updateFormValue)
				.then(res => {
					window.location.href = '/admin/categories/search';
				})
				console.log(updateFormValue);
			})
		</script>
	
	</div>

	
</body>

</html>